/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto:400,400i,500,700');
/*NAVBAR STYLES*/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 2.5em auto;
  border-radius: .35em;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 26px rgba(0,0,0, .13);
  padding-bottom: 2%;
}
.main-heading {
  font-family: "Courgette", serif;
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0, .4);
  margin: 0 auto;
  padding-top: 2%;
}

.main-heading h1, h3, h6 {
  margin: 0;
}
.main-heading h6 {
  font-size: 1.5em;
}
.main-heading h3 {
  font-size: 3.5em;
}

.main-heading h1 {
  font-size: 4.5em;
  padding-bottom: 2%;
}

#navbar {
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

header {
  text-align: center;
  padding-top: 10px;
  background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
              url("../lights.jpeg");
              background-blend-mode: multiply;
              background-size: contain;
}

ul {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: -7px;
  width: 100%;
  background: white;
  border-radius: .2em;
  border: solid 4px white;
  box-shadow: 0 1px 14px rgba(0,0,0, .12);
}

ul li {
  display: inline-block;
}

li input[type=text] {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-size: 1.4em;
  width: 500px;
  border: .2px solid white;
  margin-top: 2%;
  box-shadow: 0 1px 14px rgba(0,0,0, .12);
}

li button {
  font-family: "Roboto", sans-serif;
  font-size: .85em;
  margin-left: .4em;
  border-radius: .3em;
  padding: .7em .6em;
  color: white;
  background: #58b7cd;
  border: none;
  box-shadow: 0 1px 14px rgba(0,0,0, .12);
}

button {
  cursor: pointer;
}

/*CHECKBOXES*/
.checkboxes {
  text-align: center;
  padding-top: 2%;
  margin-bottom: 2%;
  color: #707070;
}

.checkboxes label {
  font-weight: lighter;
  margin-right: .3em;
}

/*MESSAGE BOARD STYLES*/

.message-board-container {
  width: 80%;
  margin: 0 auto;
  color: #707070;
  border: none;
}
.message-board-container p {
  padding-left: 7px;
  margin: .8em;
}
.message-board-container button {
  font-size: .75em;
  margin-left: .4em;
  border-radius: .3em;
  padding: .4em .6em;
  color: white;
  background: #58b7cd;
  border: none;
  box-shadow: 0 1px 14px rgba(0,0,0, .12);
}

#box {
  width: 100%;
  height: 350px;
  overflow: scroll;
  box-shadow: 0 1px 14px rgba(0,0,0, .12);
}

/*dark theme*/
.dark {
  background-color: rgb(12, 27, 55);
  color: white;
}

.dark p {
  color: white;
}

.dark label {
  color: white;
}


/*large theme*/

.large {
  font-size: 1.5em;
}

#modal-button {
  font-size: .9em;
  padding: .8em;
  margin: 1% 0 1% 7%;
}

#save-button {
  color: white;
  background: #58b7cd;
  border: none;
}

#customize-form label {
  margin-right: .5em;
}

.fire {
  background-color: rgb(209, 69, 9);
  color: white;
}

.fire-image {
  background: url("../fire.jpeg");
              background-size: cover;
}

.fire-image button {
  background-color: rgb(244, 195, 24);
  color: white;
  border: none;
}

.fire p {
  color: white;
}

.fire label {
  color: white;
}
.fire button {
  background-color: rgb(244, 195, 24);
  color: white;
  border: none;
}


.nature {
  background-color: rgb(73, 98, 75);
  color: white;
}
.nature-image {
  background: url("../nature.jpeg");
              background-size: cover;
}

.nature-image button {
  background-color: rgb(205, 228, 205);
  color: black;
  border: none;
}
.nature p {
  color: white;
}

.nature label {
  color: white;
}

.nature button {
  background-color: rgb(205, 228, 205);
  color: black;
  border: none;
}
